* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    background-color: #ececec;
}

.loading{
    background-image: url(../images/preloader.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.wrapper {
    display: flex;
    min-height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

@media all and (-ms-high-contrast:none){
    .wrapper{
        height: 100%;
    }
}

.content {
    width: 100%;
    max-width: 1560px;
    margin: 0 auto;
    padding: 20px;
    /*display: table-cell;*/
    /*vertical-align: middle;*/
}
.b-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -20px;
    margin-left: -20px;
    align-items: center;
    justify-content: center;
}

.b-coll{
    position: relative;
    width: 520px;
    max-width: none;
    min-height: 1px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.b-wrap-img{
    width: 100%;
    max-height: 270px;
    padding-top: 56.25%;
    position: relative;
    transition: .5s ease-out;
    z-index: 1;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.b-wrap-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 10px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.b-video-title{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    width: auto;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 2px 10px;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.1;
    text-align: center;
}

.b-wrap-video{
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    z-index: 0;
    transform: scale(0);
}

.animation-hide .b-wrap-img {
    transform: scale(0);
    opacity: 0;
    z-index: -1;
}

.animation-hide .b-wrap-video{
    transform: scale(1);
}

.b-video-iframe {
    height: 100%;
}

@media only screen and (max-width: 520px){
    .b-coll{
        width: 100%;
    }
}
